{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{% static 'style/acerca.css' %}">

<div class="header">

    <div class="title-about">
        <h2>ACERCA DE VENTAS-FAZT.</h2>
    </div>

    <div class="contenedor">
        <div class="sub-cont">
            <div class="about-us">
                <div class="titulo">
                    <h2>Sobre nosotros:</h2>
                </div>
                <div class="info">
                    <p>Somos una tienda dedicada a ofrecer gadgets y accesorios tecnológicos de alta calidad a
                        precios
                        accesibles,
                        para que todas las personas puedan disfrutar de la mejor experiencia, tanto del mundo gaming
                        como en su dia a
                        dia.</p>
                    <div class="img">
                        <img src="{% static 'VENTAS-FAZT.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="mision">
                <div class="titulo2">
                    <h2>¿Cuál es nuestro propósito?</h2>
                </div>
                <div class="desc">
                    <div class="img2">
                        <img src="{% static 'VENTAS-FAZT.png' %}" alt="">
                    </div>
                    <p> Nuestro propósito es hacer que la tecnología sea accesible para todos, sin sacrificar
                        calidad
                        ni estilo.
                        <br>
                        <br>
                        También tenemos como meta convertirnos en la tienda preferida de quienes disfrutan de la
                        tecnología, ofreciendo innovación y confianza en cada uno de nuestros productos.
                    </p>
                </div>
            </div>

            <div class="valores">
                <div class="titulo3">
                    <h2>¿Cuáles son nuestros valores?</h2>
                </div>
                <div class="info3">
                    <p>Creemos en la importancia de ofrecer un buen trato, calidad y confianza, para que cada
                        cliente se sienta satisfecho con su compra.
                        <br>
                        <br>
                        También mantenemos un servicio honesto, con precios justos y productos confiables, ya que
                        creemos que la tecnología debe estar al alcance de todos.
                    </p>
                    <div class="img3">
                        <img src="{% static 'VENTAS-FAZT.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="mision">
                <div class="titulo2">
                    <h2>Nuestra historia</h2>
                </div>
                <div class="desc">
                    <div class="img2">
                        <img src="{% static 'VENTAS-FAZT.png' %}" alt="">
                    </div>
                    <p> A lo largo de los años hemos notado en multiples ocasiones sobre muchas personas quieren
                        disfrutar de una experiencia única al querer jugar, escuchar música o en su vida diaria, pero no
                        mucha gente puede disfrutar esa experiencia por el alto precio de los productos.
                        <br>
                        <br>
                        Por eso hemos decidido abrir <span>&regVentas-Fazt</span>, donde puedes comprar gadgets a un
                        precio accesible para que disfrutes de una experiencia única.
                        <br>
                        <br>
                        En <span>&regVentas-Fazt</span> te brindamos una buena atención, asi como también te brindamos
                        de diversos productos confiables de alta calidad con precios accesibles y de gran rendimiento
                        para que puedas llevar al limite tu experiencia en el mundo de la tecnología.
                    </p>
                </div>
            </div>

        </div>
    </div>
    
</div>

{% endblock %}