* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --negro-profundo: #0A0A0A;
    --blanco-puro: #FFFFFF;
    --oro-metalico: #D4AF37;
    --plateado-suave: #C0C0C0;
    --azul-navy: #1A1F71;
    --burdeos-profundos: #5B0E2D;
    --verde-esmeralda: #046307;
    --gris-carbon: #1b1a1a;
}

body {
    background-color: var(--negro-profundo);
    color: var(--blanco-puro);
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: none;
}


.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid var(--oro-metalico);
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    transition: all 0.15s ease;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

.cursor-dot {
    position: fixed;
    width: 8px;
    height: 8px;
    background: #d4af37;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
}

.cursor.expand {
    transform: translate(-50%, -50%) scale(1.5);
    background: rgba(212, 175, 55, 0.1);
}




/*      inicio      */
/* SECCIÓN DE PRODUCTOS */
.productos-container {
    background: radial-gradient(ellipse at center, var(--gris-carbon) 0%, var(--negro-profundo) 100%);
    padding: 40px;
}

/* TÍTULO */
.titulo-productos,
h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
    text-align: center;
}

/* GRID */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

/* TARJETA */
.producto-card {
    background: var(--gris-carbon);
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .12);
    transition: transform .4s ease-in-out, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 440px;
}

/* HOVER */
.producto-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 30px var(--oro-metalico);
}

/* IMAGEN */
.producto-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

/* TEXTOS */
.producto-card h3 {
    margin: 10px 0 6px;
    font-size: 1.2rem;
    color: var(--blanco-puro);
}

.producto-card p {
    font-size: 1.1rem;
    color: var(--plateado-suave);
    margin-top: auto;
}

/* BOTÓN DE VER MÁS */
.btn {
    position: relative;
    display: block;
    width: 100%;
    background: var(--negro-profundo);
    color: var(--blanco-puro);
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin-top: 14px;
    overflow: hidden;
    font-weight: 600;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

/* EFECTO METÁLICO */
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            var(--plateado-suave),
            transparent);
    transform: skewX(-20deg);
    transition: all 0.6s;
    z-index: 2;
}

.btn:hover::before {
    left: 120%;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.25);
}

/* RESPONSIVE */
@media (max-width: 500px) {

    .producto-card {
        height: auto;
    }

    .producto-card img {
        height: 180px;
    }
}